header {
    color: blue;
    display: flex;
    font-size: 14px;
    height: 50px;
    // padding: 5px 10px;
    .logo {
        margin: 5px 20px 5px 10px;
        width: 185px;
    }
    .curve-shape {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 50px 0 0;
        border-color: #01b4e6 transparent transparent transparent;
        position: relative;
        transform: rotate(-180deg);
      }
    nav {
        background: #01b4e6;
        color: #fff;
        // flex: 1;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding: 8px 10px 8px 0;
        ul {
            li {
                a {
                    color: #fff;
                }
            }
        }
        .menu .active > a {
            color: #fff;
            background: none;
        }
      }
      .user-info {
          background: #01b4e6;
          cursor: pointer;
          height: 50px;
          line-height: normal;
          padding: 15px 10px 0 0;
          position: relative;
          i {
              margin: 0 6px 0 0;
          }
          span {
              color: #ccff00;
              &::after {
                // content: "|";
                display: inline-block; 
                text-align: right;
                width: 10px;
              }
          }
        &:hover {
            .user-details {
            max-height: 300px;
            display: block;
            }
        }
        .user-details {
            -webkit-transition: max-height 1s; 
            -moz-transition: max-height 1s; 
            -ms-transition: max-height 1s; 
            -o-transition: max-height 1s; 
            transition: max-height 1s;  
            background: #01b4e6;
            overflow: hidden;
            // "height: 0" not work with css transitions
            max-height: 0;
            ul {
                margin: 0;
                padding: 15px;
                li {
                    border-bottom: dotted 1px #e8e8e8;
                    list-style: none;
                    padding: 6px 0;
                    a {
                        color: #fff;
                        display: block;
                        font-size: 13px;
                        &:hover {
                            color: #ccff00;
                        }
                    }
                    &:last-child {
                        border: none;
                        padding-bottom: 0;
                    }
                }
            }
        }
      }
    .module-title {        
        background: #01b4e6;
        flex: 1;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0 0 0;
        text-align: center;
    }
}