.user-profile {
    border: 1px solid #ccc;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 20px auto;
    min-height: 350px;
    .profile-icon {
        color: #ccc;
        font-size: 100px;
    }
    .profile, .profileDetails {
        padding: 20px;
        label::after {
            content: ":";
            display: inline-block;
            float: right;
        }
        button {
            margin: 30px 0 0 0;
        }
        .details {
            border-top: 1px dotted #ccc;
            margin: 15px 0 0 0;
            padding: 15px 0 0 0;
        }
    }
}